.post-preview__image {
  width: 341px;
  height: 290px;
}

.post-preview__category {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  padding: 4px 10px 8px 10px;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}